<div *ngIf="bookMarkList.length>0">
  <div class="table">
    <table id="bookmark">
      <thead class="title">
        <tr>
          <td>Bookmarks</td>
          <td>Favorites</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of bookMarkList; let i= index">
          <td>
            <span class="tableData">
              <a href="{{items.bookmark}}" target="_blank">{{items.bookmark}}</a>
            </span>
            <div *ngIf="editBM && currEditBM == items">
              <form (ngSubmit)="updateBM(i, editItem.value)" #updateBookMark="ngForm">
                <div class="tableEditInput">
                  <input type="text" ngModel={{items.bookmark}} name="item" class="editInput" #editItem>
                </div>
                <div class="tableEditBut">
                  <button mat-raised-button type="submit" class="update">Update</button>
                  <button mat-raised-button (click)="currEditBM = null" class="cancel">Cancel</button>
                </div>
              </form>
            </div>
          </td>
          <td>
            <span>
              <span *ngIf="items.favorite == true"><i class="fas fa-star fa-lg"></i></span>
              <span *ngIf="items.favorite == false"></span>
            </span>
          </td>
          <td>
            <span class="itemButtons">
              <i class="fas fa-pen" (click)="editBookMark(i)"></i>
              <i class="fas fa-trash-alt" (click)="removeBookMark(i)"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="navigate">
    <button (click)="currentpage =1; activePage(currentpage)" class="pagination"><i class="fas fa-fast-backward "></i></button>
    <button (click)="currentpage = currentpage-1; activePage(currentpage)" [disabled]="currentpage ==1" class="pagination">
      <i class="fas fa-step-backward "></i></button>
    <button *ngFor="let page of pages" class="pagination pages" [ngClass]="{'isActive': currentpage ==page}" (click)="activePage(page)">{{page}}
    </button>
    <button (click)="currentpage = currentpage+1; activePage(currentpage)" [disabled]="currentpage == pages.length"
      class="pagination">
      <i class="fas fa-step-forward "></i></button>
    <button (click)="currentpage = pages.length; activePage(currentpage)" class="pagination"><i class="fas fa-fast-forward "></i></button>
  </div>
</div>
<div *ngIf="bookMarkList.length==0" class="empty">
  <h1>Your bookmark list appears to empty...</h1>
  <div class="actionButton">
    <button mat-raised-button routerLink="/" [ngClass]="{'one': currentStyle==1,'two': currentStyle==2, 'three':currentStyle==3,'four':currentStyle==4, 'five':currentStyle==5, 'six':currentStyle==6}">Add
      Bookmarks</button>
  </div>
</div>
